<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehealthinformatics.odoorx.rxshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.ehealthinformatics.RxShop"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/rx"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.ehealthinformatics.rxshop.fragment.CustomerDetails"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ehealthinformatics.rxshop.activity.SplashScreenActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ehealthinformatics.rxshop.activity.OdooLogin"
            android:label="${applicationName}"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ehealthinformatics.rxshop.activity.ManageAccounts" />
        <activity
            android:name="com.ehealthinformatics.rxshop.activity.OdooActivity"
            android:label="${applicationName}" />
        <activity android:name="odoo.controls.SearchableItemActivity" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.product.ProductEdit"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name="com.ehealthinformatics.rxshop.fragment.PosOrderDetails"  android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ehealthinformatics.rxshop.activity.pos.PosOrderEdit" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.PosOrderCart" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.ShoppingCheckoutStep" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.SimpleCheckout" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.SearchToolbarLight" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.SearchCustomer" />

        <activity android:name="com.ehealthinformatics.rxshop.activity.SettingsActivity" />
        <activity
            android:name="com.ehealthinformatics.rxshop.activity.AppIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mail.widget.MailDetailDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".mail.widget.MailChatterCompose"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.ehealthinformatics.rxshop.activity.OdooAccountQuickManage"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.About" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.Profile" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.PaymentType" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.PaymentLine" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.PaymentLines" />
        <activity android:name="com.ehealthinformatics.rxshop.activity.shopping.PaymentSuccess" />

         <!--Reminder Receivers//-->
        <receiver android:name="com.ehealthinformatics.odoorx.core.base.utils.reminder.ReminderReceiver" />
        <receiver android:name="com.ehealthinformatics.odoorx.core.base.utils.reminder.ReminderActionReceiver" />

        <!--&lt;!&ndash; SMS Receiver &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.klinker.android.send_message.SentReceiver"-->
            <!--android:taskAffinity="[insert package name here].SMS_SENT"/>-->

        <!--<receiver-->
            <!--android:name="com.klinker.android.send_message.DeliveredReceiver"-->
            <!--android:taskAffinity="[insert package name here].SMS_DELIVERED"/>-->

        <receiver
            android:name=".sms.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
        <intent-filter android:priority="999" >
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
        </receiver>

        <service android:name="com.android.mms.transaction.TransactionService"/>


    </application>

</manifest>
