<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odoo.odoorx.rxshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
    <!--<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.odoo.RxShop"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/rx"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name="com.odoo.rxshop.fragment.CustomerDetails"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.odoo.rxshop.activity.SplashScreenActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.odoo.rxshop.activity.OdooLogin"
            android:label="${applicationName}"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.odoo.rxshop.activity.ManageAccounts" />
        <activity
            android:name="com.odoo.rxshop.activity.OdooActivity"
            android:label="${applicationName}" />
        <activity android:name="odoo.controls.SearchableItemActivity" />
        <activity android:name="com.odoo.rxshop.activity.product.ProductEdit"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name="com.odoo.rxshop.fragment.PosOrderDetails"  android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.odoo.rxshop.activity.pos.PosOrderEdit" />
        <activity android:name="com.odoo.rxshop.activity.shopping.PosOrderCart" />
        <activity android:name="com.odoo.rxshop.activity.shopping.ShoppingCheckoutStep" />
        <activity android:name="com.odoo.rxshop.activity.shopping.SimpleCheckout" />
        <activity android:name="com.odoo.rxshop.activity.shopping.SearchToolbarLight" />
        <activity android:name="com.odoo.rxshop.activity.shopping.SearchCustomer" />

        <activity android:name="com.odoo.rxshop.activity.SettingsActivity" />
        <activity
            android:name="com.odoo.rxshop.activity.AppIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.odoo.rxshop.mail.widget.MailDetailDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.odoo.rxshop.mail.widget.MailChatterCompose"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.odoo.rxshop.activity.OdooAccountQuickManage"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.odoo.rxshop.activity.About" />
        <activity android:name="com.odoo.rxshop.activity.Profile" />
        <activity android:name="com.odoo.rxshop.activity.shopping.PaymentType" />
        <activity android:name="com.odoo.rxshop.activity.shopping.PaymentLine" />
        <activity android:name="com.odoo.rxshop.activity.shopping.PaymentLines" />
        <activity android:name="com.odoo.rxshop.activity.shopping.PaymentSuccess" />

         <!--Reminder Receivers//-->
        <receiver android:name="com.odoo.odoorx.core.base.utils.reminder.ReminderReceiver" />
        <receiver android:name="com.odoo.odoorx.core.base.utils.reminder.ReminderActionReceiver" />

        <!--&lt;!&ndash; SMS Receiver &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.klinker.android.send_message.SentReceiver"-->
            <!--android:taskAffinity="[insert package name here].SMS_SENT"/>-->

        <!--<receiver-->
            <!--android:name="com.klinker.android.send_message.DeliveredReceiver"-->
            <!--android:taskAffinity="[insert package name here].SMS_DELIVERED"/>-->

        <receiver
            android:name="com.odoo.rxshop.sms.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
        <intent-filter android:priority="999" >
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name="com.odoo.odoorx.core.base.auth.OdooAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="com.odoo.odoorx.core.base.orm.provider.BaseModelProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content"
            android:multiprocess="true" />

        <!-- Sync Provider & Service  // -->

        <!-- Customer -->

        <provider
            android:name="com.odoo.odoorx.core.device.providers.CustomersSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.res_partner"
            android:label="@string/sync_label_customers"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.CustomerSyncService"
            android:exported="true"
            android:process=":sync_customer">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/customer_sync_adapter" />
        </service>

        <!-- Product -->
        <provider
            android:name="com.odoo.odoorx.core.device.providers.ProductsSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.product_product"
            android:label="@string/sync_label_products"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.ProductSyncService"
            android:exported="true"
            android:process=":sync_product">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/product_sync_adapter" />
        </service>

        <!-- ProductImage -->
        <provider
            android:name="com.odoo.odoorx.core.device.providers.ProductImagesSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.product_image"
            android:label="@string/sync_label_products"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.ProductImageSyncService"
            android:exported="true"
            android:process=":sync_product_image">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/product_image_sync_adapter" />
        </service>

        <!-- Order -->
        <provider
            android:name="com.odoo.odoorx.core.device.providers.PosOrderSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.pos_order"
            android:label="@string/sync_label_pos_config"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.PosOrderSyncService"
            android:exported="true"
            android:process=":sync_pos_order">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pos_sync_adapter" />
        </service>

        <!-- OrderConfig -->
        <provider
            android:name="com.odoo.odoorx.core.device.providers.PosConfigSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.pos_order_config"
            android:label="@string/sync_label_pos_config"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.PosConfigSyncService"
            android:exported="true"
            android:process=":sync_pos_order_config">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pos_config_sync_adapter" />
        </service>

        <!-- OrderLine -->
        <provider
            android:name="com.odoo.odoorx.core.device.providers.PosOrderLineSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.pos_order_line"
            android:label="@string/sync_label_pos_order_line"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.PosOrderLineSyncService"
            android:exported="true"
            android:process=":sync_pos_order_line">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pos_order_line_sync_adapter" />
        </service>


        <!-- PurchaseOrder -->
        <provider
            android:name="com.odoo.odoorx.core.device.providers.PurchaseSyncProvider"
            android:authorities="com.odoo.odoorx.rxshop.base.provider.content.sync.purchase_order"
            android:label="@string/sync_label_pos_order_line"

            android:multiprocess="true" />

        <service
            android:name="com.odoo.odoorx.core.base.auth.device.services.PurchaseSyncService"
            android:exported="true"
            android:process=":sync_purchase">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/purchase_sync_adapter" />
        </service>



        <service android:name="com.android.mms.transaction.TransactionService"/>


    </application>

</manifest>
